NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=change-me-to-random-32-chars
RESEND_API_KEY=
BACKEND_URL=http://localhost:8000
NEXT_PUBLIC_QLIK_TENANT=mb01txe2h9rovgh.us.qlikcloud.com
DATABASE_URL=postgres://avnadmin:password@pg-111cab4b-unlkdata.b.aivencloud.com:10261/analytics_hub?sslmode=require
